* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

#topbar {
  width: 400px;
  margin: 20px auto;
  text-align: center;
}

#topbar > input,
select,
button {
  border-radius: 5px;
  height: 30px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid grey;
}

#result {
  column-count: 5;
  margin: 5px;
  column-gap: 5px;
}

#result img {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 3px;
}

#result img:hover {
  border: 7px solid #4778b1;
}

#pagination {
  display: none;
}

#pagination #selected {
  background-color: blue;
}

@media (max-width: 500px) {
  #result {
    column-count: 2;
  }
}
